<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <title> Drug Prescription Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="icon" href="data:;base64,=">
    </head>
    
    <body>
        <img src="https://raw.githubusercontent.com/jdelva2/ml-drug-prescription-app/main/images/medical_tech_image.jpg">
        <br>
        <form action="/prescribe" method="post">
            <p>Please enter your Age(1-100)</p>
            <input type="text" name="age_input" placeholder="Age" required="required" />
            <br>
            <p>Please enter your sex (M, F)</p>
            <input type="text" name="sex_input" placeholder="Sex" required="required" />
            <br>
            <p>Please enter your Blood Pressure( LOW, HIGH, NORMAL)</p>
            <input type="text" name="bp_input" placeholder="Blood pressure" required="required" />
            <br>
            <p>Please enter your Cholesterol level (LOW, HIGH, NORMAL)</p>
            <input type="text" name="cholesterol_input" placeholder="Cholesterol" required="required" />
            <br>
            <p>Please enter your NA_to_K (1-100)</p>
            <input type="text" name="na_to_k_input" placeholder="Na to K" required="required" />
            <br>
           
            <button type="submit" class="btn btn-primary btn-block btn-large">Prescribe</button>
            <br>
        </form>
        <br>
        <br>
        {{ prediction_text }}
        <br>
        <br>
        <br>
    </body>
</html>